td {
margin: 0px;
padding:0px;
}

td > div {
height:155px;
width:155px;
}
.vert {
border-left: 2px solid black;
border-right: 2px solid black;
}
.hori {
border-top: 2px solid black;
border-bottom: 2px solid black;
}
.cell:hover{
background: #f1f1f1;
}